:root {
    --background: #02042d;
    --control-panel-color: #1b1111;
    --control-panel-height: 100vh;
    --control-panel-width: 432px;
    --big-container-height: 100vh;
    --big-container-width: calc(100vw - 432px);
    --how-to-play-title-size: 50px;
    --how-to-play-text-size: 32px;
    --text-color: #fff;
    --btn-color: #fee715;
    --btn-shadow: 0 0 20px 6px #d6c316;
    --btn-hover-text-color: #fee715;
    --btn-width: 272px;
    --btn-height: 76px;
    --btn-text-color: #101820;
    --btn-text-size: 50px;
    --btn-radius: 6px;
    --sketch-container-width: 900px;
    --sketch-container-height: 900px;
}

* {
    box-sizing: border-box;
    font-family: mclaren, helvetica, monospace, sans-serif;
}

body {
    display: flex;
}

.menu {
    background: var(--control-panel-color);
    width: var(--control-panel-width);
    min-height: var(--control-panel-height);
    color: var(--text-color);
}

.menu h1 {
    margin-left: 54px;
    margin-right: 73px;
    font-size: var(--how-to-play-title-size);
    font-weight: 400;
    white-space: nowrap;
}

.menu p {
    font-size: var(--how-to-play-text-size);
    margin-top: 5em;
    line-height: 1.4;
    margin-left: 0.5em;
}

.menu button {
    font-size: var(--btn-text-size);
    width: var(--btn-width);
    min-height: var(--btn-height);
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    box-shadow: var(--btn-shadow);
    border-radius: var(--btn-radius);
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s;
}

.menu button:hover {
    color: var(--btn-hover-text-color);
    background-color: var(--btn-text-color);
    cursor: pointer;
}

.menu #got-it-btn {
    margin-top: 70px;
}

.menu #reset-btn {
    margin-top: 3em;
}

.big-container {
    background-color: var(--background);
    min-height: var(--big-container-height);
    width: var(--big-container-width);
    display: grid;
    place-content: center;
}

.big-container .sketch-container {
    min-height: var(--sketch-container-height);
    width: var(--sketch-container-width);
    background: grey;
}
