:root {
    --background: #02042d;
    --control-panel-color: #1b1111;
    --control-panel-height: 100vh;
    --control-panel-width: 432px;
    --big-container-height: 100vh;
    --big-container-width: calc(100vw - 432px);
    --how-to-play-text-size: 32px;
    --text-color: #fff;
    --btn-color: #fee715;
    --btn-shadow: 0 0 20px 6px #d6c316;
    --btn-hover-text-color: #fee715;
    --btn-width: 272px;
    --btn-height: 76px;
    --btn-text-color: 101820;
    --btn-text-size: 50px;
    --sketch-container-width: 1000px;
    --sketch-container-height: 1000px;
}

* {
    box-sizing: border-box;
    font-family: mclaren, helvetica, monospace, sans-serif;
}

body {
    display: flex;
}

.big-container {
    background-color: var(--background);
    height: var(--big-container-height);
    width: var(--big-container-width);
}

.menu {
    background: var(--control-panel-color);
    width: var(--control-panel-width);
    min-height: var(--control-panel-height);
}
